<script type='text/javascript' src="/js/main.js"></script>
<script>
    <% for(var i=0; i<posts2.length; i++) {%>

    myArr = []
    myArr.push('<%= posts2[0].comments %>')

    <% } %>
</script>

<body onload="pageLoaded()"></body>

</html>
</body></html>