<div id='add-profile'>
    <div id="add-posts1">
        <h1 class="text-center p-2">Add a Profile</h1>
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-1">
                <h1><label for="name" class="form-label">Name</label></h1>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-1">
                <h1><label for="title" class="form-label">Title</label></h1>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="mb-1">
                <h1><label for="website" class="form-label">Website</label></h1>
                <input class="form-control" id="website" name="website" required></input>
            </div>
            <div class="mb-1">
                <h1><label for="contact" class="form-label">Phone Number</label></h1>
                <input type="text" class="form-control" onclick="phone()" name="contact" required placeholder="(000) 000-0000" />
            </div>
            <h1>My Stack</h1>
            <textarea id='textIcons' name="textIcons" required style="    display:none;"></textarea>


            <span id='myIcons' style="    display: flex;
               justify-content: space-around;
               flex-wrap: wrap;
               min-height:5vh;
               max-height: 200px;" id='iconss'></span>
            <h1>Search to Add Your Stack</h1>
            <textarea style="width:100%; border-radius: 5px;" id='inputs' oninput='getIcon()'></textarea><br>
            <span style="    display: flex;
               justify-content: space-around;
               flex-wrap: wrap;
               overflow-y: scroll;
               max-height: 200px;" id='iconss'></span>

            <h1><label for="imgUpload" id="img-label" class="form-label">Image</label>
                <img id="output" />
                <input type="file" accept="image/*" oninput="loadFile(event)" class="form-control" id="file" name="file">

                <button type="submit" class="btn btn-primary mt-1" value="Upload" style="filter: drop-shadow( 0 0px 0px black); width:100%" onclick="toggleContent()">Submit</button>
        </form>
        <button onclick="toggleContent()" type="none" class="btn btn-primary mt-1 mb-1" style="filter: drop-shadow( 0 0px 0px black); width:100%;" value="cancel">Cancel</button>
    </div>
</div>