<%- include('partials/login-header') -%>

  <main class="container">
    <img id="headerIcon" src="https://res.cloudinary.com/at100dev/image/upload/v1628713361/social_again_l9lsgr.svg" />
    <div id="wrapper">
      <%- include('login') -%>
    </div>
  </main>