
  <%- include('partials/login-header') -%> 
  <header>
    <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://cdn.videvo.net/videvo_files/video/free/2013-08/small_watermarked/hd0933_preview.webm" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
<main class="container">
    <div class="row justify-content-around mt-5">
        <h1 class="display-3">@100 Devs</h1>
        <p class="lead mb-0">The #100 Devs Social Network</p>
        <%- include('login') -%> 

        
        <h1 class="text-center">Don't have an account?</h1> <a href="/signup" class="col-5 btn btn-primary"> Signup</a>

    </div>
    
</main>
</div>
</div>
</div>
</header>
    
<script>
var img = new Image()
img.src= 'https://i.ytimg.com/vi/qAbHMwzGfPc/maxresdefault.jpg'
//img.src= 'https://source.unsplash.com/random/900×700/?flowers?random=1'
document.body.background= img.src

</script>