
  <%- include('partials/login-header') -%> 


<main class="container">
    <div class="">
        <h1 class="display-1 text-center mb-0">@100 Devs</h1>
        
        <p class="lead mb-4  text-center">The Social Boost Network</p>
        <%- include('login') -%> 

        
       

    </div>
    
</main>
    
