
  <%- include('partials/login-header') -%> 
  <header>

<main class="container">
    <div class="">
        <h1 class="display-1 text-center mb-1">@100 Devs</h1>
        
        <p class="lead mb-4  text-center">The 100 Devs Social Network</p>
        <%- include('login') -%> 

        
       

    </div>
    
</main>
</div>
</div>
</div>
</header>
    
