
  <%- include('partials/login-header') -%> 
  <header>

<main class="container">
    <div class="row justify-content-around mt-5">
        <h1 class="display-3 text-center">@100 Devs</h1>
        <p class="lead mb-0  text-center">The #100 Devs Social Network</p>
        <%- include('login') -%> 

        
        <h1 class="text-center">Don't have an account?</h1> 
        <button href="/signup" class="col-5 btn btn-primary">Submit</button>

    </div>
    
</main>
</div>
</div>
</div>
</header>
    
