<%- include('partials/login-header') -%>

<div id='loader'>
  <img style="width:100vw; height:100vh;" src="https://res.cloudinary.com/at100dev/image/upload/v1630732008/Alternate-Ball-Loading_qzzdtr.svg">
   </div>
    <main class="container">
      <img id="headerIcon" src="https://res.cloudinary.com/at100dev/image/upload/v1628713361/social_again_l9lsgr.svg">
      <div id="wrapper">
      <%- include('login') -%>
      </div>
    </main>
