<div id='alert1'>
    <div id="dropdown-alert">
        
        <h1>Select Theme! <h1>Enter anything!</h1></h1> <h1><input id="userInput" type="text" placeholder="Text"></h1>
        <h1><button id="dropDownClick" >Submit</button></h1>

        
        <style>

        </style>
        
        <script>

        </script>
    
    </div>
       
    
    
    </div> 

