<div id='alert1'>
    <div><h1>Select Theme! <h1>Enter anything!</h1></h1> <h1><input id="userInput" type="text" placeholder="Text">
        <button id="dropdown-button" onclick="returnText()">Submit</button></h1></div>
       </div> 