<div id="alert1">
  <div id="dropdown-alert">
    <h1 class="font-style">
      <img src="https://res.cloudinary.com/at100dev/image/upload/v1628713361/social_again_l9lsgr.svg" />
    </h1>
    <div class="mt-10 glow">
      Social Again is a social networking application for software technology
      enthusiasts to be social again.
      <br />
      <br />
      Users can create a profile,share a photo, share software technologies,
      share contact information and share comments.
      <br />
      <br />
      <br />
      Built With:
      <br />
      <span class="iconify" data-icon="logos:javascript"></span>
      <span class="iconify" data-icon="logos:nodejs" style="color: green"></span>
      <span class="iconify" data-icon="logos:express" style="color: green"></span>
      <span class="iconify" data-icon="logos:mongodb" style="color: green"></span>
      <span class="iconify" data-icon="vscode-icons:file-type-ejs" style="color: green"></span>

      <span class="iconify" data-icon="logos:bootstrap" style="color: green"></span>
      <span class="iconify" data-icon="logos:passport" style="color: green"></span>
      <span class="iconify" data-icon="logos:cloudinary" style="color: green"></span>
      <span class="iconify" data-icon="flat-color-icons:data-encryption" style="color: green"></span>
      <span class="iconify" data-icon="line-md:iconify2" style="color: green"></span>
      <span class="iconify" data-icon="file-icons:dotenv" style="color: green"></span>
      <span class="iconify" data-icon="icon-park:github"></span>
      <span class="iconify" data-icon="logos:css-3" style="color: green"></span>
      <span class="iconify" data-icon="logos:jquery"></span>
      <span class="iconify" data-icon="cib:canva"></span>
    </div>s
    <!-- <h1><input id="userInput" type="text" placeholder="Text"></h1> -->
    <h1><button onclick="closeAbout()" id="dropDownClick">Close</button></h1>
    <style></style>
  </div>
</div>