<div id='alert1'>
    <div id="dropdown-alert">
        <h1 class="font-style">
            About Social Again
        </h1>
        <p class="mt-10 glow">
            Social Again is a social networking application for software technology enthusiasts to be social again. 
            <br>
            <br>
            It allows users to create a profile, upload a photo, share software tech stack, share contact information and share comments.
        </p>
        <!-- <h1><input id="userInput" type="text" placeholder="Text"></h1> -->
        <h1><button onclick="closeAbout()" id="dropDownClick">Close</button></h1>
        <style>

        </style>
    </div>
</div>