
        <div id='alert'>
            <div id="dropdown-alert"> 
                
                <input id='textSearchUsers' oninput='textSearchUsers()'>
                
                <button>Search Users by name</button></div>
               </div>  
        </div>