<div id='update-profile'>
    <div id="add-posts1">
        <div id="x" onclick="updateProfile()">x</div>
        <h1 class="text-center">Update Profile</h1>
        <form action="/post/updateProfile/<%= user._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="mb-1">
                <h1><label for="name" class="form-label">Name</label></h1>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-1">
                <h1><label for="title" class="form-label">Title</label></h1>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-1">
                <h1><label for="website" class="form-label">Website</label></h1>
                <input class="form-control" id="website" name="website" required></textarea>
            </div>
            <div class="mb-1">
                <h1><label for="contact" class="form-label">Phone Number</label></h1>
                <input type="text" class="form-control" onChange="phone1()" name="contact" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
            </div>
           
            <textarea placeholder="(click to remove)"autocapitalize="false" id='textIcons' name="textIcons" required style="    display:none;"></textarea>
            <h1 id="stackLabel"><label for="getIcon" class="form-label">My Software Technologies:</label></h1>
            <span id='myIcons' style="display: flex;
           justify-content: space-around;
           flex-wrap: wrap;
           min-height:50px;
           max-height: 200px;"></span>
           <h9 id="stackLabelInfo">(click to remove)</h9>
           <h1><label for="getIcon" class="form-label">Search Software Technologies:</label></h1>
            <textarea autocapitalize="false" placeholder="Search here" style="width:100%" id='inputs' oninput='getIcon()'></textarea>
            <span style="display: flex;
           justify-content: space-around;
           flex-wrap: wrap;
           max-height: 200px;" id='iconss'></span>
            <h9 id="stackLabelInfo">(click to add)</h9>
            <h1>
                <label for="imgUpload" id="img-label" class="form-label">Image</label>
                <img id="output2" />
                <input type="file" accept="image/*" oninput="loadFile2(event)" class="form-control mb-1"  id="file" name="file">
                <button type="submit" class="btn btn-primary mb-1" value="Upload" style="filter: drop-shadow( 0 0px 0px black); width:100%;">Submit</button>
        </form>
        <button onclick="updateProfile()" type="none" class="btn btn-primary mb-1" value="cancel" style="filter: drop-shadow( 0 0px 0px black); width:100%;">Cancel</button>
    </div>
</div>