<div id='update-profile'>
    <div id="x" style="float:right; z-index:200;" onclick="closeUpdateProfile()">x</div>

    <div id="add-posts1">
        <h1 class="text-center" id="shadow">Update Profile</h1>
        <form action="/post/updateProfile/<%= user._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="mb-0">
                <h1 class="comment-box-text"><label for="name" class="form-label">Name</label></h1>
                <input type="text" class="comment-box" id="name" name="name" required>
            </div>
            <div class="mb-0">
                <h1 class="comment-box-text"><label for="title" class="form-label">Title</label></h1>
                <input type="text" class="comment-box" id="title" name="title" required>
            </div>
            <div class="mb-0">
                <h1 class="comment-box-text"><label for="website" class="form-label">Website</label></h1>
                <input class="comment-box" id="website" name="website" required></textarea>
            </div>
            <div class="mb-0">
                <h1 class="comment-box-text"><label for="contact" class="form-label">Phone Number</label></h1>
                <input type="number" class="comment-box" onChange="phone1()" name="contact"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
            </div>

            <textarea placeholder="(click to remove)" autocapitalize="false" id='textIcons' name="textIcons"
                style="    display:none;"></textarea>
            <h1 id="stackLabel"><label for="getIcon" class="form-label">My Software Technologies:</label></h1>
            <span id='myIcons' style="display: flex;
           justify-content: space-around;
           flex-wrap: wrap;
           min-height:50px;
           max-height: 200px;"></span>
            <h9 id="stackLabelInfo">(click to remove)</h9>
            <h1 class="comment-box-text"><label for="getIcon" class="form-label">Search Software Technologies:</label>
            </h1>
            <input autocapitalize="false" class="comment-box" placeholder="Search here" style="width:100%" id='inputs'
                oninput='getIcon()'></input>
            <span style="display: flex;
           justify-content: space-around;
           flex-wrap: wrap;" id='iconss'></span>
            <h9 id="stackLabelInfo">(click to add)</h9>
            <h1>
                <label for="imgUpload" id="img-label" class="form-label">Image Upload:</label>
                <img id="output2" />
                <input type="file" accept="image/*" class="btn btn-primary mb-2" oninput="loadFile2(event)" id="file"
                    name="file" required>
                <button type="submit" class="btn btn-primary mb-2" value="Upload" style="width:100%;">Submit</button>
        </form>
        <!-- <button onclick="minimizePost(document.getElementById(update-profile))" type="none" class="btn btn-primary mb-2" value="cancel" style="width:100%;">Cancel</button> -->
    </div>
</div>