/* RESET CSS */
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CSS */

body {
    background-color: black;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/at100dev/image/upload/v1631467079/Live-Wave-Background_bf6j9c.svg');
    height: 100vh;
    transition: background-image 1000ms linear;
    font-family: 'Archivo Narrow', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    background-position: bottom;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.container {
    display:flex;
    flex-direction: column;
    width: 40%;
    backdrop-filter: brightness(1.2);
    height: auto;
    border-radius: 40px;
    box-shadow: 1px 15px 30px 2px rgba(00, 00, 00, .9);
    padding-bottom: 20px;
    box-shadow: inset 0 0 30px 10px #354a76, 0 0 2px 1px black, 5px -5px 5px cyan, -5px 5px 10px deeppink;
    padding-right: 5vw;
    padding-left:5vw;
}
.container1{
    
}
#wrapper{
}

button {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 50px;
}


        .btn-primary {
            color: #fff;
            text-shadow: 1px 2px 2px #354a76;
            background-color: deeppink;
            box-shadow: inset 0 0 90px 10px deeppink, 0 0 2px 1px black;
            filter: drop-shadow(2px 2px 5px #354a76);
            border: 0px;
        }
        .btn-primary:hover {
            color: #fff;
            text-shadow: 0px 0px 2px black;
            background-color:deeppink;
            border-color: #354a76;
            box-shadow: inset 0 0 90px 10px aqua, 0 0 2px 1px black;
            filter: drop-shadow(1px 1px 2px #354a76);
            cursor: pointer;
        }
        .btn-primary:active {
            color: #fff;
            text-shadow: 0px 0px 2px black;
            background-color:deeppink;
            border-color: #354a76;
            box-shadow: inset 0 0 90px 10px aqua, 0 0 2px 1px black;
            filter: drop-shadow(1px 1px 2px #354a76);
            cursor: pointer;
        }
        .btn-primary:focus{
            background-color:deeppink; 
            font-size: 18px;
            border-color: deeppink;
            
        }
        label{
            text-shadow: 1px 2px 2px #354a76;
        }
input {
    margin: .5%;
    padding: 1%;
    border-radius: .25rem;
    width: 70%;
    box-shadow: inset 0 0 30px white;
    margin: 0 auto;
    text-align: center; 
    font-family: 'Mina', sans-serif;
}
input:focus{
    color:cadetblue;
    background-color: black;
    text-shadow: 1px 1px 20px deeppink;
    font-size: 24px;
    box-shadow: inset 0 0 50px 10px black, 0 0 0px 1px aqua;
    filter: drop-shadow(0px 0px 10px deeppink);
}


.comment-box{
    color: white;
    background-color: transparent;
    max-height: 30vh;
    text-shadow: 1px 3px 5px black;
    font-size: 20px;
    width: 98%;
    margin: 5px;
    border-radius: 5px;
    border-color: skyblue;
}
.comment-box:focus{
    color: white;
    background-color: transparent;
    margin: 5px;
    width: 98%;
    background-image: none;
    box-shadow: inset 0 0 23px -2px deeppink, 0 0 2px 0px black;
}


textarea{
    color:cadetblue;
    text-shadow: 0px 0px 20px #354a76;
    font-size: 18px;
    text-align: center;
}
textarea:focus{
    color:cadetblue;
    background-color: black;
    text-shadow: 1px 1px 20px deeppink;
    font-size: 24px;
    box-shadow: inset 0 0 50px 10px black, 0 0 0px 1px aqua;
}

@media only screen and (max-width: 900px) {
    body{
        padding: 0%;
    }
    .container {
        display:flex;
        flex-direction: column;
        width: 100%;
        backdrop-filter: blur(5px);
        border-radius: 0px;
        
    }
    .container1{
        width: 100%;
        
        justify-content: center;
    }
    .container{
        display: flex;
    flex-direction: column;
    width: 100%;
    min-height: -webkit-fill-available;
    border-radius: 0px;
    justify-content: space-evenly;

    }
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 100%;
        padding: .5rem;
    }
    .vid-info h1 {
        margin-bottom: .2rem;
    }
    .container1{
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
    .container1{
        width: 100%;
        justify-content: center;
    }
}